<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl size=1163664 sha256=cbb8650ebef7da50ac55e27690ea74a73c5af0bc2d8a70cfaf3927eb871e84c6
  Stored in directory: c:\users\javie\appdata\local\pip\cache\wheels\cb\43\46\fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.7
    Uninstalling SQLAlchemy-1.4.7:
      Successfully uninstalled SQLAlchemy-1.4.7
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [6]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\javie\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\javie\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\javie\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\javie\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\javie\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: pickleshare in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: backcall in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.16 in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: decorator in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pygments in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\javie\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\javie\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\javie\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\javie\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=27c107efd3785b403dfd78a0fed4de4f1310a158f6c949bb1c7c9e525991b9a3
  Stored in directory: c:\users\javie\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: prettytable, ipython-sqlNote: you may need to restart the kernel to use updated packages.

Successfully installed ipython-sql-0.4.1 prettytable-0.7.2

In [7]:

%load_ext sql

In [69]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [9]:
!pip install -q pandas==1.1.5

In [10]:
%sql sqlite:///my_data1.db

In [155]:
df.dtypes

Date                 datetime64[ns]
Time (UTC)                   object
Booster_Version              object
Launch_Site                  object
Payload                      object
PAYLOAD_MASS__KG_             int64
Orbit                        object
Customer                     object
Mission_Outcome              object
Landing _Outcome             object
Date_new             datetime64[ns]
dtype: object

In [63]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df['Date_new']=df['Date']+" "+df['Time (UTC)']
df['Date_new'][0]
#type(df['Date'][0])%H:%M:%S

'04-06-2010 18:45:00'

In [70]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
from datetime import datetime
df['Date_new']=df['Date']+" "+df['Time (UTC)']

def to_date_1(data):
    return datetime.strptime(data.replace("-","/"), "%d/%m/%Y")
def to_date_2(data):
    return datetime.strptime(data.replace("-","/"), "%d/%m/%Y %H:%M:%S")
df['Date_new'] = df['Date_new'].map(to_date_2)
df['Date'] = df['Date'].map(to_date_1)
print(df.dtypes)
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

Date                 datetime64[ns]
Time (UTC)                   object
Booster_Version              object
Launch_Site                  object
Payload                      object
PAYLOAD_MASS__KG_             int64
Orbit                        object
Customer                     object
Mission_Outcome              object
Landing _Outcome             object
Date_new             datetime64[ns]
dtype: object

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [86]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Date_new
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute),2010-06-04 18:45:00
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute),2010-12-08 15:43:00
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt,2012-05-22 07:44:00
3,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt,2012-10-08 00:35:00
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt,2013-03-01 15:10:00

In [88]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT Launch_Site, COUNT(*)FROM SPACEXTBL GROUP BY Launch_Site ")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

('CCAFS LC-40', 26)
('CCAFS SLC-40', 34)
('KSC LC-39A', 25)
('VAFB SLC-4E', 16)

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [83]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT * FROM SPACEXTBL where Launch_Site LIKE"+"'"+"CCA%"+"'"+" LIMIT 5")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

('2010-06-04 00:00:00', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)', '2010-06-04 18:45:00')
('2010-12-08 00:00:00', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)', '2010-12-08 15:43:00')
('2012-05-22 00:00:00', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt', '2012-05-22 07:44:00')
('2012-10-08 00:00:00', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt', '2012-10-08 00:35:00')
('2013-03-01 00:00:00', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt', '2013-03-01 15:10:00')

In [82]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT COUNT(*) FROM SPACEXTBL where Launch_Site LIKE"+"'"+"CCA%"+"'")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

(60,)

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [91]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL where Customer='NASA (CRS)'")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

(45596,)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [92]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL where booster_version ='F9 v1.1'")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

(2928.4,)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [94]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT Date_new FROM SPACEXTBL where Mission_Outcome ='Success' ORDER BY Date_new LIMIT 1" )
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

('2010-06-04 18:45:00',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [112]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT Booster_Version FROM SPACEXTBL where Mission_Outcome ='Success' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000 " )
cur.execute(query)

for i,pos in enumerate(cur):
    print(i,pos)

cur.close()
con.close()

0 ('F9 v1.1',)
1 ('F9 v1.1 B1011',)
2 ('F9 v1.1 B1014',)
3 ('F9 v1.1 B1016',)
4 ('F9 FT B1020',)
5 ('F9 FT B1022',)
6 ('F9 FT B1026',)
7 ('F9 FT B1030',)
8 ('F9 FT  B1021.2',)
9 ('F9 FT B1032.1',)
10 ('F9 B4 B1040.1',)
11 ('F9 FT  B1031.2',)
12 ('F9 FT  B1032.2',)
13 ('F9 B4  B1040.2',)
14 ('F9 B5 B1046.2',)
15 ('F9 B5 B1047.2',)
16 ('F9 B5 B1048.3',)
17 ('F9 B5 B1051.2 ',)
18 ('F9 B5B1060.1',)
19 ('F9 B5 B1058.2 ',)
20 ('F9 B5B1062.1',)

### Task 7

##### List the total number of successful and failure mission outcomes

In [158]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT Mission_Outcome, COUNT(*)FROM SPACEXTBL GROUP BY Mission_Outcome ")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

('Failure (in flight)', 1)
('Success', 98)
('Success ', 1)
('Success (payload status unclear)', 1)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
SELECT * FROM SPACEXTBL WHERE (Booster_Version,PAYLOAD_MASS__KG_) IN ( SELECT Booster_Version, MAX(PAYLOAD_MASS__KG_)  FROM SPACEXTBL  GROUP BY Booster_Version)

In [157]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT MAX(PAYLOAD_MASS__KG_) as PAYLOAD_MASS__KG_ FROM SPACEXTBL")#SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL
cur.execute(query)
#SELECT a.studentid, a.name, b.total_marks FROM student a, marks b WHERE a.studentid = b.studentid AND b.total_marks > (SELECT total_marks FROM marks WHERE studentid =  'V002');

for i,pos in enumerate(cur):
    print(i,pos)

cur.close()
con.close()

0 (15600,)

In [153]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT Booster_Version, MAX(PAYLOAD_MASS__KG_)  FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ >= (SELECT MAX(PAYLOAD_MASS__KG_) as PAYLOAD_MASS__KG_ FROM SPACEXTBL) GROUP BY Booster_Version ORDER BY PAYLOAD_MASS__KG_ DESC")#SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL
cur.execute(query)
#SELECT a.studentid, a.name, b.total_marks FROM student a, marks b WHERE a.studentid = b.studentid AND b.total_marks > (SELECT total_marks FROM marks WHERE studentid =  'V002');

for i,pos in enumerate(cur):
    print(i,pos)

cur.close()
con.close()

0 ('F9 B5 B1060.3', 15600)
1 ('F9 B5 B1060.2 ', 15600)
2 ('F9 B5 B1058.3 ', 15600)
3 ('F9 B5 B1056.4', 15600)
4 ('F9 B5 B1051.6', 15600)
5 ('F9 B5 B1051.4', 15600)
6 ('F9 B5 B1051.3', 15600)
7 ('F9 B5 B1049.7 ', 15600)
8 ('F9 B5 B1049.5', 15600)
9 ('F9 B5 B1049.4', 15600)
10 ('F9 B5 B1048.5', 15600)
11 ('F9 B5 B1048.4', 15600)

In [98]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Date_new
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute),2010-06-04 18:45:00
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute),2010-12-08 15:43:00

In [244]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT [Landing _Outcome], COUNT(*)FROM SPACEXTBL GROUP BY [Landing _Outcome] ")
cur.execute(query)

for i in cur:
    print(i)

cur.close()
con.close()

('Controlled (ocean)', 5)
('Failure', 3)
('Failure (drone ship)', 5)
('Failure (parachute)', 2)
('No attempt', 21)
('No attempt ', 1)
('Precluded (drone ship)', 1)
('Success', 38)
('Success (drone ship)', 14)
('Success (ground pad)', 9)
('Uncontrolled (ocean)', 2)

In [190]:
print(df.columns.tolist())

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing _Outcome', 'Date_new']

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [186]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("SELECT substr(Date, 6, 2),Booster_Version,[Landing _Outcome],Launch_Site FROM SPACEXTBL where [Landing _Outcome]='Failure (drone ship)' AND substr(Date, 1, 4)='2015'")#SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL
cur.execute(query)
#SELECT a.studentid, a.name, b.total_marks FROM student a, marks b WHERE a.studentid = b.studentid AND b.total_marks > (SELECT total_marks FROM marks WHERE studentid =  'V002');

for i,pos in enumerate(cur):
    print(i,pos)

cur.close()
con.close()

0 ('01', 'F9 v1.1 B1012', 'Failure (drone ship)', 'CCAFS LC-40')
1 ('04', 'F9 v1.1 B1015', 'Failure (drone ship)', 'CCAFS LC-40')

In [188]:
df.head(1)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,Date_new
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute),2010-06-04 18:45:00

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [214]:
new_outs=[]
for i,pos in enumerate(df['Landing _Outcome'].values.tolist()):
    new_outs.append(pos.strip())

df['Landing_Outcome1']=new_outs

In [231]:
landing_outcomes = df['Landing _Outcome'].value_counts()# values on Outcome column
landing_outcomes
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 Success
1 No attempt
2 Success (drone ship)
3 Success (ground pad)
4 Failure (drone ship)
5 Controlled (ocean)
6 Failure
7 Failure (parachute)
8 Uncontrolled (ocean)
9 Precluded (drone ship)
10 No attempt

In [235]:
print(list(landing_outcomes.keys()[[1,4,6,7,8,10]]))

['No attempt', 'Failure (drone ship)', 'Failure', 'Failure (parachute)', 'Uncontrolled (ocean)', 'No attempt ']

In [241]:
import mysql.connector


con = sqlite3.connect("my_data1.db")
cur = con.cursor()
query = ("select [Landing _Outcome],Date  FROM SPACEXTBL where Date_new >=  '2010/06/04' and Date_new <= '2017/03/20' and [Landing _Outcome] in ('No attempt', 'Failure (drone ship)', 'Failure', 'Failure (parachute)', 'Uncontrolled (ocean)', 'No attempt ') order by Date_new")#SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL
cur.execute(query)
#SELECT a.studentid, a.name, b.total_marks FROM student a, marks b WHERE a.studentid = b.studentid AND b.total_marks > (SELECT total_marks FROM marks WHERE studentid =  'V002');

for i,pos in enumerate(cur):
    print(i+1,pos)

cur.close()
con.close()

1 ('No attempt', '2012-05-22 00:00:00')
2 ('No attempt', '2012-10-08 00:00:00')
3 ('No attempt', '2013-03-01 00:00:00')
4 ('Uncontrolled (ocean)', '2013-09-29 00:00:00')
5 ('No attempt', '2013-12-03 00:00:00')
6 ('No attempt', '2014-01-06 00:00:00')
7 ('No attempt', '2014-08-05 00:00:00')
8 ('No attempt', '2014-09-07 00:00:00')
9 ('Uncontrolled (ocean)', '2014-09-21 00:00:00')
10 ('Failure (drone ship)', '2015-01-10 00:00:00')
11 ('No attempt', '2015-03-02 00:00:00')
12 ('Failure (drone ship)', '2015-04-14 00:00:00')
13 ('No attempt', '2015-04-27 00:00:00')
14 ('Failure (drone ship)', '2016-01-17 00:00:00')
15 ('Failure (drone ship)', '2016-03-04 00:00:00')
16 ('Failure (drone ship)', '2016-06-15 00:00:00')
17 ('No attempt', '2017-03-16 00:00:00')
18 ('No attempt', '2017-05-15 00:00:00')
19 ('No attempt', '2017-07-05 00:00:00')

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>